@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a,
li {
  list-style: none;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content min-content minmax(min-content, 50vw) repeat(2, min-content); }

.img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  display: block;
  background-repeat: no-repeat; }

.swiper-container {
  background: #8d0000;
  display: grid;
  align-items: stretch;
  justify-items: center; }

.swiper-slide {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.nav {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #8d0000;
  color: #fff;
  box-shadow: 0 2px 2px #5eff00;
  z-index: 99; }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-self: end; }
    @media only screen and (max-width: 765px) {
      .nav__list {
        display: none;
        visibility: hidden; } }
  .nav__link {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0 1rem; }

.header__img {
  width: 100%; }

.fas {
  margin-right: 1rem; }

.burger {
  display: none;
  font-size: 2.5rem; }
  @media only screen and (max-width: 765px) {
    .burger {
      display: block;
      align-self: center;
      justify-self: end;
      padding: 0 1rem; } }

.about {
  padding: 6vw;
  position: relative; }
  .about__box {
    display: grid;
    justify-content: center;
    align-items: center; }
  .about__img {
    width: 100%; }
    .about__img-2 {
      justify-self: center;
      width: 70%; }
  .about__heading {
    margin: 2rem 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem; }
    @media only screen and (max-width: 600px) {
      .about__heading {
        margin: 0rem 0rem; } }
    @media only screen and (max-width: 500px) {
      .about__heading {
        font-size: 3rem; } }
    .about__heading-1 {
      margin: 2rem 0 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 4rem;
      color: #fff; }
      @media only screen and (max-width: 600px) {
        .about__heading-1 {
          margin: 0rem 0rem; } }
      @media only screen and (max-width: 500px) {
        .about__heading-1 {
          font-size: 3rem; } }
    .about__heading-2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 4rem;
      color: #fff; }
      @media only screen and (max-width: 500px) {
        .about__heading-2 {
          font-size: 3rem; } }
  .about__paragraph {
    margin: 1rem auto 2rem auto;
    width: 70%;
    padding: 1rem;
    background-color: #8d0000;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center; }
    @media only screen and (max-width: 500px) {
      .about__paragraph {
        width: 100%; } }
    .about__paragraph-1 {
      margin: 1rem auto 2rem auto;
      width: 70%;
      padding: 1rem;
      background-color: #000000;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      text-align: center; }
      @media only screen and (max-width: 500px) {
        .about__paragraph-1 {
          width: 100%; } }
    .about__paragraph-2 {
      margin: 1rem auto 2rem auto;
      width: 70%;
      padding: 1rem;
      background-color: #ffffff;
      font-size: 1.5rem;
      font-weight: 500;
      color: black;
      text-align: center; }

.sidebar {
  position: fixed;
  max-height: 25rem;
  left: 0;
  top: 23rem;
  z-index: 99; }
  .sidebar__logo {
    position: fixed;
    max-height: 10rem;
    left: -1rem;
    top: 31rem;
    z-index: 100;
    animation: glowing .5s infinite; }

.btn:link,
.btn:visited {
  display: inline-block;
  border-radius: 2px; }

.btn-hacknet {
  color: #fff;
  background-color: #8D0000;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 400px) {
    .btn-hacknet {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 324px) {
    .btn-hacknet {
      padding: 1rem 1rem; } }

.btn-freenet {
  color: #fff;
  background-color: #009c08;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 400px) {
    .btn-freenet {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 324px) {
    .btn-freenet {
      padding: 1rem 1rem; } }

.btn-coders {
  color: #fff;
  background-color: #000000;
  padding: 1rem 2rem; }

@keyframes glowing {
  0% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.footer__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 25rem));
  align-items: center;
  justify-content: center;
  padding: 4rem;
  grid-gap: 2rem; }

.footer__item {
  display: grid;
  justify-items: center;
  align-items: center; }

.footer__link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  color: #fff;
  letter-spacing: none;
  transition: all .5s; }
  .footer__link:hover {
    background-color: #8d0000;
    transform: translateY(-0.25rem); }

.contact {
  padding: 5rem 5rem 7rem 5rem; }
  .contact__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    align-items: start;
    grid-gap: 3rem; }
  .contact__heading {
    text-align: center;
    margin: 2rem 0 2.5rem 0;
    font-size: 4rem; }
  .contact__container-1 {
    display: flex;
    flex-direction: column; }
  .contact__text {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    .contact__text i {
      font-size: 3rem;
      display: grid;
      justify-items: center;
      align-items: center;
      padding: .8rem; }
  .contact__h1 {
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000; }
  .contact__title {
    padding: 1rem 0;
    display: inline-block;
    align-self: flex-start;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    .contact__title::after {
      content: "";
      display: block;
      height: 3px;
      width: 50%;
      background-color: #a80000;
      margin-top: 0.5rem; }
  .contact__label {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem; }
  .contact__input {
    border: 1px solid #dfdfdf;
    padding: 1rem;
    outline: none;
    margin-bottom: .6rem;
    border-radius: 4px; }

.fb {
  margin-right: 1.7rem; }

.header {
  grid-column: full-start / full-end;
  background-color: red; }

.about {
  grid-column: full-start / col-start 5;
  grid-row: 2 / 3;
  text-align: center; }

.about-1 {
  background-color: #146e02;
  grid-column: col-start 5 / full-end;
  grid-row: 2 / 3;
  text-align: center; }

.about-2 {
  background-color: #8d0000;
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  padding: 5vw;
  text-align: center; }
  @media only screen and (max-width: 1000px) {
    .about-2 {
      padding: 5vw 5vw 8vw 5vw; } }

.contact {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 500px) {
    .contact {
      grid-column: full-start / full-end; } }

.footer {
  background-color: #181a1a;
  grid-column: full-start / full-end; }

.heading-1 {
  font-size: 1.6rem;
  line-height: 1; }
  @media only screen and (min-width: 700px) {
    .heading-1 {
      font-size: 2.5rem; } }
