.header {
    grid-column: full-start / full-end;
    background-color: red;
}

.about {
    // background-color: palegreen;
    grid-column: full-start / col-start 5;
    grid-row: 2 / 3;
    text-align: center;
}

.about-1 {
    background-color: rgb(20, 110, 2);
    grid-column: col-start 5 / full-end;
    grid-row: 2 / 3;
    text-align: center;
}

.about-2 {
    background-color: #8d0000;
    grid-column: full-start / full-end;
    grid-row: 3 / 4;
    padding: 5vw;
    text-align: center;
}

.contact {
    grid-column: center-start / center-end;

    @media only screen and (max-width: 500px) {
        grid-column: full-start / full-end;
    }
}   

.footer {
    background-color: rgb(24, 26, 26);
    grid-column: full-start / full-end;
}